{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container-in">
    <h1>Centro de Ayuda</h1>
    {% if darkModeEnabled == 'true' %}
        <p style="color: white; font-weight: bold;">{{confirmacion}}</p>    
    {% elif darkModeEnabled == 'false' %}
        <p style="color: black; font-weight: bold;">{{confirmacion}}</p>
    {% endif %}  

    <div class="container-in">
        <h2>Preguntas Frecuentes</h2>
        <div class="container-in">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading1">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                ¿Cómo se inicia una Gincana?
                            </button>
                        </h5>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                        <div class="card-body">
                            <div style="text-align: justify;">
                                Para Inciar una Gincana, previamente se debe de haber añadido las paradas, con sus correspondientes preguntas y respuestas en el apartadode Editar Gincanas, el cual aparece cuando estas en una de tus Gincanas.
                                Después, se tendrá que configurar la Gincana en el apartado de Configuración, que aparece de la misma forma que Editar Gincanas. 
                            </div>
                            <div style="text-align: justify;">
                                Por último, se tendrán que crear usuarios Invitados para la Gincanas. Los usuarios Invitados serán los participantes de la Gincana, los cuales serán exclusivos para esa Gincana y para esa edición. 
                                El profesor tendrá que distribuir a los participantes los QRs para que sean escaneados por los participantes o el usuario correspondiente.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading2">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                ¿Qué son las Gincanas Públicas?
                            </button>
                        </h5>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                        <div class="card-body">
                            <div style="text-align: justify;">
                                Las Gincanas Públicas son Gincanas creadas por los otros profesores, los cuales hacen pública su Gincana para que otros profesores puedan copiar y gestionarla el mismo.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-in">
        <h2>Contacto</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form">
            {{form.as_p}}
        </div>
        <button class="btn-signin">
            Enviar
        </button>
    </form>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}