<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'media/Logo.png' %}">
    <title>HerStory Gincanas</title>
    <link rel="stylesheet" href="{% static 'scss/custom.css' %}">
    <link id="modo" rel="stylesheet" href="{% static 'scss/modo_claro.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {{form.media}}
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% if user.is_authenticated %}
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-boton">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start position-fixed" id="menu">
                        <a href="{% url 'home' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">HerStory Gincanas</span>
                        </a>
                        {% if ubicacion == 'gincana' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'gincana' gincana.id %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-geo-alt-fill"></i> <span class="ms-1 d-none d-md-inline">{{gincana.titulo}}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-geo-alt-fill"></i> <span class="ms-1 d-none d-md-inline">{{gincana.titulo}}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'editar' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'editar_gincana' gincana.id %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-pen-fill"></i> <span class="ms-1 d-none d-md-inline">Editar {{gincana.titulo}}</span> </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'editar_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-pen-fill"></i> <span class="ms-1 d-none d-md-inline">Editar {{gincana.titulo}}</span> </a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'configuracion' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'configuracion_gincana' gincana.id %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-sliders"></i> <span class="ms-1 d-none d-md-inline">Configuración</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'configuracion_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-sliders"></i> <span class="ms-1 d-none d-md-inline">Configuración</span></a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'puntuacion' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'puntuacion_gincana' gincana.id %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-trophy-fill"></i> <span class="ms-1 d-none d-md-inline">Puntuaciones</span> </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'puntuacion_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-trophy-fill"></i> <span class="ms-1 d-none d-md-inline">Puntuaciones</span> </a>
                            </li>
                        {% endif %}
                        <img class="separador" src="{% static 'media/separador.png' %}" >
                        {% if ubicacion == 'inicio' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'home' %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-md-inline">Inicio</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">              
                                <a href="{% url 'home' %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-md-inline">Inicio</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'crear' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'crear_gincana' %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-plus-square-fill"></i> <span class="ms-1 d-none d-md-inline">Crear Gincana</span> </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'crear_gincana' %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-plus-square-fill"></i> <span class="ms-1 d-none d-md-inline">Crear Gincana</span> </a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'mis' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'mis_gincanas' %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-map-fill"></i> <span class="ms-1 d-none d-md-inline">Mis Gincanas</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'mis_gincanas' %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-map-fill"></i> <span class="ms-1 d-none d-md-inline">Mis Gincanas</span></a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'publicas' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'gincanas_publicas' %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <div class="d-flex align-items-center">
                                        <i class="fs-4 bi-globe-europe-africa"></i> 
                                        <div class="d-flex flex-column ">
                                            <span class="ms-1 d-none d-md-inline">Gincanas</span> 
                                            <span class="ms-1 d-none d-md-inline">Públicas</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'gincanas_publicas' %}" class="btn btn-boton align-middle px-0 text-white">
                                    <div class="d-flex align-items-center">
                                        <i class="fs-4 bi-globe-europe-africa"></i> 
                                        <div class="d-flex flex-column ">
                                            <span class="ms-1 d-none d-md-inline">Gincanas</span> 
                                            <span class="ms-1 d-none d-md-inline">Públicas</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                        {% if ubicacion == 'ayuda' %}
                            <li class="nav-item" style="background-color: #36594A; border-radius: 10px;">
                                <a href="{% url 'centro_de_ayuda' %}" class="btn btn-ubicacion align-middle px-0 text-white">
                                    <i class="fs-4 bi-question-circle"></i> <span class="ms-1 d-none d-md-inline">Ayuda</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'centro_de_ayuda' %}" class="btn btn-boton align-middle px-0 text-white">
                                    <i class="fs-4 bi-question-circle"></i> <span class="ms-1 d-none d-md-inline">Ayuda</span></a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-box-arrow-in-left"></i> <span class="ms-1 d-none d-md-inline">Cerrar Sesión</span></a>
                        </li>
                    </ul>
                    <hr>
                </div>  
            </div>
            {% endif %}
            <div class="col py-3">
                {% if user.is_authenticated %}
                <nav class="navbar sticky-top navegador">
                    <div class="container-fluid">
                        <form class="d-flex" role="search" action="{% url 'buscar_gincanas' %}" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="q">
                            <button class="btn btn-success" type="submit">Buscar</button>
                        </form>
                        <div class="barra">
                            {% for profesor in profesores %}
                                <button id="dark-mode-toggle" style="border: none; background-color: transparent;">
                                    <img id="dark-mode-image" width="35" height="35" class="rounded-circle" src="{% static 'media/Modo_oscuro.png' %}" >
                                </button>
                                <span style="margin-right: 10px;"></span>
                                <a href="{% url 'profesor' profesor.email %}" class="d-flex align-items-center text-white text-decoration-none">
                                    <img width="35" height="35" class="rounded-circle" style="background-color: #9E9E9E;border: 2px solid #3C8067; padding: 1px;" src="{{profesor.imagen.url}}" >
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </nav>
                {% endif %}
                <div class="container-in">
                    <h1>Configuración</h1>

                    <p class="error">{{error}}</p>
                    {% if botonError == "faltan_preguntas" %}
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <a href="{% url 'editar_gincana' gincana.id %}" class="btn btn-danger">Configurar Preguntas y Respuestas</a>
                        </div>
                    {% elif botonError == "falta_duracion" %}
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <a href="{% url 'configuracion_gincana' gincana.id %}" class="btn btn-danger">Configurar Duración</a>
                        </div>
                    {% elif botonError == "faltan_usuarios" %}
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <a href="{% url 'usuarios_invitados' gincana.id %}" class="btn btn-danger">Crear Usuarios Invitados</a>
                        </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form">
                            {{form.titulo.label}}
                            {{form.titulo}}
                            {{form.descripcion.label}}
                            {{form.descripcion}}
                            <div class="input-registro">
                                <div style="flex-grow: 1;">
                                    {{form.visibilidad.label}}
                                    {{form.visibilidad}}
                                </div>
                                <div class="input-registro">
                                    <p>Tiempo de duración:</p>
                                    {{form.duracion}}
                                </div>
                            </div>
                        </div>
                        <button class="btn-signin">
                            Guardar Cambios
                        </button>
                    </form>
                </div>
                <footer class="footer">
                    <div class="footer-group">
                        <div class="footer-box">
                            {% if darkModeEnabled == 'true' %}
                                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
                            {% elif darkModeEnabled == 'false' %}
                                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
                            {% endif %}  
                        </div>
                        <div class="footer-box">
                            <p style="text-align: justify;">
                                Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or DG Justice and Consumers. Neither the European Union nor the granting authority can be held responsible for them.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script>
        document.getElementById('dark-mode-toggle').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
        
            if (document.body.classList.contains('dark-mode')) {
                localStorage.setItem('darkModeEnabled', 'true');
            } else {
                localStorage.setItem('darkModeEnabled', 'false');
            }
            var darkModeEnabled = localStorage.getItem('darkModeEnabled');
        
            $.ajax({
                url: "{% url 'update_dark_mode' %}",
                type: "POST",
                data: {
                    'darkModeEnabled': darkModeEnabled,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                success: function(data) {
                    location.reload();
                }
            });
        });
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var darkModeEnabled = localStorage.getItem('darkModeEnabled');
            var link = document.getElementById('modo');
        
            if (darkModeEnabled === 'true') {
                link.href = "{% static 'scss/modo_oscuro.css' %}";
                document.body.classList.add('dark-mode');
                document.getElementById('dark-mode-image').src = "{% static 'media/Modo_claro.png' %}";
            } else {
                link.href = "{% static 'scss/modo_claro.css' %}";
                document.getElementById('dark-mode-image').src = "{% static 'media/Modo_oscuro.png' %}"; 
            }
            var darkModeEnabled = localStorage.getItem('darkModeEnabled');

            $.ajax({
                url: "{% url 'update_dark_mode' %}",
                type: "POST",
                data: {
                    'darkModeEnabled': darkModeEnabled,
                    csrfmiddlewaretoken: '{{csrf_token}}'  
                }
            });

            document.head.appendChild(link);
        });
    </script>

</body>
</html>