{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container-in">
    <h1>Crear Gincana</h1>
    <p class="error">{{error}}</p>

    <form action="{% url 'crear_gincana' %}" method="POST">
        {% csrf_token %}
        <div class="form">
            {{form.as_p}}
        </div>
        <button class="btn-signin">
            Guardar
        </button>
    </form>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div> 

{% endblock %}