<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'media/Logo.png' %}">
    <title>HerStory Gincanas</title>
    <link rel="stylesheet" href="{% static 'scss/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% if user.is_authenticated %}
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-boton">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start position-fixed" id="menu">
                        <a href="{% url 'home' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">HerStory Gincanas</span>
                        </a>
                        <li class="nav-item">
                            <a href="{% url 'gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-geo-alt-fill"></i> <span class="ms-1 d-none d-md-inline">{{gincana.titulo}}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'editar_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-pen-fill"></i> <span class="ms-1 d-none d-md-inline">Editar {{gincana.titulo}}</span> </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'configuracion_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-sliders"></i> <span class="ms-1 d-none d-md-inline">Configuración</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'puntuacion_gincana' gincana.id %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-trophy-fill"></i> <span class="ms-1 d-none d-md-inline">Puntuaciones</span> </a>
                        </li>
                        <img class="separador" src="{% static 'media/separador.png' %}" >
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-md-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'crear_gincana' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-plus-square-fill"></i> <span class="ms-1 d-none d-md-inline">Crear Gincana</span> </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'mis_gincanas' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-map-fill"></i> <span class="ms-1 d-none d-md-inline">Mis Gincanas</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gincanas_publicas' %}" class="btn btn-boton align-middle px-0 text-white">
                                <div class="d-flex align-items-center">
                                    <i class="fs-4 bi-globe-europe-africa"></i> 
                                    <div class="d-flex flex-column ">
                                        <span class="ms-1 d-none d-md-inline">Gincanas</span> 
                                        <span class="ms-1 d-none d-md-inline">Públicas</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-gear-fill"></i> <span class="ms-1 d-none d-md-inline">Ajustes</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn btn-boton align-middle px-0 text-white">
                                <i class="fs-4 bi-box-arrow-in-left"></i> <span class="ms-1 d-none d-md-inline">Cerrar Sesión</span></a>
                        </li>
                    </ul>
                    <hr>
                </div>  
            </div>
            {% endif %}
            <div class="col py-3">
                {% if user.is_authenticated %}
                <nav class="navbar sticky-top bg-white">
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        {% for profesor in profesores %}
                        <a href="{% url 'profesor' profesor.email %}" class="d-flex align-items-center text-white text-decoration-none">
                            <img alt="hugenerd" width="30" height="30" class="rounded-circle" src="{{ profesor.imagen.url }}" >
                        </a>
                        {% endfor %}
                    </div>
                </nav>
                {% endif %}
                <div class="container-in">
                    <h1>Editar {{gincana.titulo}}</h1>

                    <div id="map" class="map"></div>
                    
                    <div class="loading-screen" id="loading-screen">
                        <div class="loading-spinner"></div>
                    </div>

                    {{ paradas|json_script:"paradas_json" }}

                    <script>
                        var screenWidth = window.innerWidth;

                        if (screenWidth <= 570) {
                            var map = L.map('map').setView([51.505, -0.09], 12);
                        } else {
                            var map = L.map('map').setView([51.505, -0.09], 13);
                        }

                        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        let paradas = JSON.parse(document.getElementById('paradas_json').textContent);
                        
                        var contador = 0;
                        var anterior_parada;
                        paradas.forEach(parada =>{
                            if (contador === 0) {
                                var marker = L.marker([parada.latitud, parada.longitud]).addTo(map);
                            }
                            else{
                                var marker =  L.marker([parada.latitud, parada.longitud]).addTo(map);
                                let polyline = L.polyline([anterior_parada,[parada.latitud, parada.longitud]]).addTo(map);
                            }
                            var popupContent = '<strong>Parada ' + (contador+1) + '</strong><br>Latitud: ' + parada.latitud + '<br>Longitud: ' + parada.longitud;
                            if (parada.pregunta) {
                                popupContent += '<br><strong>Pregunta:</strong><br>' + parada.pregunta + '<br>';
                                popupContent += '<strong>Respuestas:</strong><br>';
                                parada.respuestas.forEach(respuesta => {
                                    popupContent += respuesta.respuesta + ' - Puntos: ' + respuesta.puntos + ' - Correcta: ' + respuesta.es_correcta + '<br>';
                                });
                            } else {
                                popupContent += '<br>No hay pregunta asociada a esta parada.';
                            }
                            marker.bindPopup(popupContent);

                            contador++;
                            anterior_parada=[parada.latitud, parada.longitud];

                        });

                    </script>

                    <ul id="sortable-list" class="list-group">
                        {% for parada in db %}
                            <li id="{{ parada.id }}" class="list-group-item d-flex justify-content-between aling-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Parada {{parada.orden}}</div>
                                    {{parada.latitud}}
                                    {{parada.longitud}}
                                    {% if parada.pregunta %}
                                        <div class="fw-bold">Pregunta:</div>
                                        <div>{{ parada.pregunta.enunciado }}</div>
                                        
                                        <div class="fw-bold">Respuestas:</div>
                                        {% for respuesta in parada.respuestas %}
                                            <div>{{ respuesta.respuesta }} - Puntos: {{ respuesta.puntos }} - Es Correcta: {{ respuesta.es_correcta }}</div>
                                        {% endfor %}
                                    {% else %}
                                        <div>No hay pregunta asociada a esta parada.</div>
                                    {% endif %}
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-primary" id="editar_{{parada.id}} me-2" style="margin-right: 10px; height: auto;" onclick="abrir_modal_editar('{% url 'editar_parada' gincana.id parada.id %}')" data-toggle="modal" data-target="#editar">
                                        Editar Pregunta
                                    </button>
                                    <button type="button" class="btn btn-danger" id="borrar_{{parada.id}}" style="height: auto;">
                                        Borrar
                                    </button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="input-registro">
                        <button type="button" class="btn-pass" onclick="abrir_modal_parada('{% url 'parada' gincana.id %}')" data-toggle="modal" data-target="#add">
                            Añadir
                        </button>
                        <span style="margin-right: 10px;"></span>
                        <button type="button" class="btn-pass" id="guardar_cambios">
                            Guardar Cambios
                        </button>
                    </div>
                </div>
                <div class="modal fade" id="add" role="dialog"></div>

                <div class="modal fade" id="editar" role="dialog"></div>

                <footer class="footer">
                    <div class="footer-group">
                        <div class="footer-box">
                            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
                        </div>
                        <div class="footer-box">
                            <p>
                                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_parada(url){
            $('#add').load(url, function (){
                $(this).modal('show');
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var sortable = new Sortable(document.getElementById('sortable-list'), {
                animation: 150,
                ghostClass: 'sortable-ghost'
            });

            function mostrarCarga(parada_id) {
                document.getElementById('loading-screen').style.display = 'flex';
                sendSortableData(); 
            }
        
            function sendSortableData() {
                var orderedIds = [];
                $('#sortable-list li').each(function(index) {
                    var id = $(this).attr('id');
                    orderedIds.push(id);
                });

                $.ajax({
                    url: "{% url 'guardar_cambios_gincana' gincana.id %}",
                    type: "POST",
                    data: {
                        'ordered_ids[]': orderedIds,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        document.getElementById('loading-screen').style.display = 'none';
                        window.location.reload();
                    }
                });
            }
        
            $('#guardar_cambios').on('click', {}, mostrarCarga);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            function mostrarCarga(parada_id) {
                document.getElementById('loading-screen').style.display = 'flex';
                sendData(parada_id); 
            }

            function sendData(parada_id) {
                $.ajax({
                    url: "{% url 'borrar_parada' gincana.id %}",
                    type: "POST",
                    data: {
                        parada_id: parada_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        document.getElementById('loading-screen').style.display = 'none';
                        window.location.reload();
                    }
                });
            }

            $('button[id^="borrar_"]').on('click', function() {
                var parada_id = $(this).attr('id').split('_')[1];
                mostrarCarga(parada_id);
            });
        });
    </script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_editar(url){
            $('#editar').load(url, function (){
                $(this).modal('show');
            });
        }
    </script>

</body>
</html>