<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gincana</title>
</head>
<body>
    
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'gincana' gincana.id %}">{{gincana.titulo}}</a>
            </li>
            <li>
                <a href="{% url 'editar_gincana' gincana.id %}">Editar {{gincana.titulo}}</a>
            </li>
            <li>
                <a href="{% url 'configuracion_gincana' gincana.id %}">Configuración</a>
            </li>
            <li>
                <a href="{% url 'puntuacion_gincana' gincana.id %}">Puntuaciones</a>
            </li>

            <img src="{% static 'media/separador.png' %}">

            <li>
                <a href="{% url 'home' %}">Gincana</a>
            </li>
            <li>
                <a href="{% url 'crear_gincana' %}">Crear Gincana</a>
            </li>
            <li>
                <a href="{% url 'mis_gincanas' %}">Mis Gincanas</a>
            </li>
            <li>
                <a href="{% url 'gincanas_publicas' %}">Gincanas Públicas</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Ajustes</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profesor' %}">
                    <img src="{% static 'media/usuario.png' %}">
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <h1>Editar {{gincana.titulo}}</h1>


</body>
</html>