{% extends 'base2.html' %}

{% block content %}

{% load static %}
<div class="container-in">
    <h1>Editar {{gincana.titulo}}</h1>
    <p style="color: red; font-weight: bold;">{{error}}</p>
    <div id="map" class="map"></div>
    
    <div class="loading-screen" id="loading-screen" style="flex-direction: column; align-items: center;">
        <div class="loading-spinner"></div>
        <div style="font-weight: bold;">Regenerando mapa, espere por favor.</div>
      </div>

    {{ paradas|json_script:"paradas_json" }}

    <script>
        var screenWidth = window.innerWidth;

        if (screenWidth <= 570) {
            var map = L.map('map').setView([51.505, -0.09], 12);
        } else {
            var map = L.map('map').setView([51.505, -0.09], 13);
        }

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let paradas = JSON.parse(document.getElementById('paradas_json').textContent);
        
        var contador = 0;
        var anterior_parada;
        paradas.forEach(parada =>{
            if (contador === 0) {
                var marker = L.marker([parada.latitud, parada.longitud]).addTo(map);
            }
            else{
                var marker =  L.marker([parada.latitud, parada.longitud]).addTo(map);
                let polyline = L.polyline([anterior_parada,[parada.latitud, parada.longitud]]).addTo(map);
            }
            var popupContent = '<strong>Parada ' + (contador+1) + '</strong><br>Latitud: ' + parada.latitud + '<br>Longitud: ' + parada.longitud;
            if (parada.pregunta) {
                popupContent += '<br><strong>Pregunta:</strong><br>' + parada.pregunta + '<br>';
                popupContent += '<strong>Respuestas:</strong><br>';
                parada.respuestas.forEach(respuesta => {
                    popupContent += respuesta.respuesta + ' - Puntos: ' + respuesta.puntos + ' - Correcta: ' + respuesta.es_correcta + '<br>';
                });
            } else {
                popupContent += '<br>No hay pregunta asociada a esta parada.';
            }
            marker.bindPopup(popupContent);

            contador++;
            anterior_parada=[parada.latitud, parada.longitud];

        });

    </script>

    <ul id="sortable-list" class="list-group">
        {% for parada in db %}
            <li id="{{ parada.id }}" class="list-group-item d-flex justify-content-between aling-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold {% if darkModeEnabled == 'true' %}text-white{% endif %}">Parada {{parada.orden}}</div>
                    <div class="{% if darkModeEnabled == 'true' %}text-white{% endif %}">{{parada.latitud}} {{parada.longitud}}</div>
                    {% if parada.pregunta %}
                        <div class="fw-bold {% if darkModeEnabled == 'true' %}text-white{% endif %}">Pregunta:</div>
                        <div class="{% if darkModeEnabled == 'true' %}text-white{% endif %}">{{ parada.pregunta.enunciado }}</div>
                        
                        <div class="fw-bold {% if darkModeEnabled == 'true' %}text-white{% endif %}">Respuestas:</div>
                        {% for respuesta in parada.respuestas %}
                            <div class="{% if darkModeEnabled == 'true' %}text-white{% endif %}">
                                {{ respuesta.respuesta }} - Puntos: {{ respuesta.puntos }} - Es Correcta: {{ respuesta.es_correcta }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="{% if darkModeEnabled == 'true' %}text-white{% endif %}">No hay pregunta asociada a esta parada.</div>
                    {% endif %}
                </div>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary" id="editar_{{parada.id}} me-2" style="margin-right: 10px; height: auto;" onclick="abrir_modal_editar('{% url 'editar_parada' gincana.id parada.id %}')" data-toggle="modal" data-target="#editar">
                        Editar Pregunta
                    </button>
                    <button type="button" class="btn btn-danger" id="borrar_{{parada.id}}" style="height: auto;">
                        Borrar
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="input-registro">
        <button type="button" class="btn-pass" onclick="abrir_modal_parada('{% url 'parada' gincana.id %}')" data-toggle="modal" data-target="#add">
            Añadir
        </button>
        <span style="margin-right: 10px;"></span>
        <button type="button" class="btn-pass" id="guardar_cambios">
            Guardar Cambios
        </button>
    </div>
</div>
<div class="modal fade" id="add" role="dialog"></div>

<div class="modal fade" id="editar" role="dialog"></div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}
    
{% block extrajs %}
    
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_parada(url){
        $('#add').load(url, function (){
            $(this).modal('show');
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var sortable = new Sortable(document.getElementById('sortable-list'), {
            animation: 150,
            ghostClass: 'sortable-ghost'
        });

        function mostrarCarga(parada_id) {
            $('.navegador').removeClass('sticky-top');
            document.getElementById('loading-screen').style.display = 'flex';
            sendSortableData();
        }
    
        function sendSortableData() {
            var orderedIds = [];
            $('#sortable-list li').each(function(index) {
                var id = $(this).attr('id');
                orderedIds.push(id);
            });

            $.ajax({
                url: "{% url 'guardar_cambios_gincana' gincana.id %}",
                type: "POST",
                data: {
                    'ordered_ids[]': orderedIds,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    document.getElementById('loading-screen').style.display = 'none';
                    window.location.reload();
                }
            });
        }
    
        $('#guardar_cambios').on('click', {}, mostrarCarga);
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        function mostrarCarga(parada_id) {
            $('.navegador').removeClass('sticky-top');
            document.getElementById('loading-screen').style.display = 'flex';
            sendData(parada_id); 
        }
    
        function sendData(parada_id) {
            $.ajax({
                url: "{% url 'borrar_parada' gincana.id %}",
                type: "POST",
                data: {
                    parada_id: parada_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    document.getElementById('loading-screen').style.display = 'none';
                    window.location.reload();
                }
            });
        }
    
        $('button[id^="borrar_"]').on('click', function() {
            var parada_id = $(this).attr('id').split('_')[1];
            mostrarCarga(parada_id);
        });
    });
</script>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar(url){
        $('#editar').load(url, function (){
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}
</body>
</html>