{% extends 'base.html' %}

{% block content %}
<h1>Gincanas sin Completar</h1>

<ul>
    {% for gincana in gincanas %}
    <li>
        <a href=" {% url 'gincana' gincana.id %}">
            {% if gincana.visibilidad %}
                <strong>{{gincana.titulo}}</strong>
            {% else %}
                {{gincana.titulo}}
            {% endif %}

            <p>{{gincana.descripcion}}</p>
            <p>{{gincana.email_profesor}}</p>

            <p>{{gincana.edicion|date:'M j Y:i'}}</p>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}