{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>Gincanas Públicas</h1>

<ul>
    {% for gincana in gincanas %}
    <li>
        <a href=" {% url 'gincana_publica' gincana.id %}">
            {% if gincana.visibilidad %}
                <strong>{{gincana.titulo}}</strong>
            {% else %}
                {{gincana.titulo}}
            {% endif %}

            <p>{{gincana.descripcion}}</p>
            <p>{{gincana.email_profesor}}</p>

            <p>{{gincana.edicion|date:'M j Y:i'}}</p>
        </a>
    </li>
    {% endfor %}
</ul>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}