{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>Mis Gincanas</h1>
<ul class="row">
    {% for mi_gincana in mis_gincanas %}
        {% if forloop.counter0|divisibleby:4 %}
            </ul><ul class="row">
        {% endif %}
        <li class="col">
            <a href="{% url 'gincana' mi_gincana.id %}">
                {% if mi_gincana.visibilidad %}
                    <strong>{{mi_gincana.titulo}}</strong>
                {% else %}
                    {{mi_gincana.titulo}}
                {% endif %}
            </a>
        </li>
    {% endfor %}
    {% if mis_gincanas|length|divisibleby:4 %}
        </ul>
        <ul class="row">
    {% endif %}
    <li class="col">
        <a href="{% url 'crear_gincana' %}">
            <strong>Crear Gincana</strong>
        </a>
    </li>
</ul>

<h1>Gincanas Públicas</h1>
<ul class="row">
    {% for gincana_publica in gincanas_publicas %}
        {% if forloop.counter0|divisibleby:4 %}
            </ul><ul class="row">
        {% endif %}
        <li class="col">
            <a href="{% url 'gincana_publica' gincana_publica.id %}">
                {% if gincana_publica.visibilidad %}
                    <strong>{{gincana_publica.titulo}}</strong>
                {% else %}
                    {{gincana_publica.titulo}}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}