{% extends 'base3.html' %}

{% block content %}

{% load static %}
<a href="{% url 'signin' %}" class="flecha">
    <img src="{% static 'media/flecha.png' %}">
</a>
<div class="container">
    <div class="content-box">
        <div class="content">
            <div style="margin-bottom: 5px;">
                <h1>Gincana</h1>
            </div>
            <div style="margin-bottom: 5px;">
                <h2>Información sobre la página web</h2>
            </div>
            <div style="margin-bottom: 5px;">
                <p style="text-align: justify;">
                    Esta herramienta se enmarca dentro del proyecto HerStory - Combating gender stereotypes by highlighting women's contribution to the history of societies, financiado por la Unión Europea.
                </p>
                <p style="text-align: justify;">
                    El objetivo de HerStory Gincanas es proporciona una herramienta que permita realizar este tipo de actividad, facilitando al profesores, educadores, asociaciones y otras entidades crear sus propias gincanas y permitir su realización y seguimiento de participantes.
                </p>
            </div>
            <div style="margin-bottom: 5px;">
                <h2>Sobre HerStory</h2>
            </div>
            <div style="margin-bottom: 5px;">
                <p style="text-align: justify;">
                    HerStory tiene como misión desafiar los estereotipos de género y empoderar a mujeres y niñas mediante la visibilización de los logros femeninos a lo largo de la historia hasta la actualidad. HerStory tiene como objetivo desarrollar un mapa transnacional que presente a mujeres importantes en la política y la sociedad, así como en las ciencias y las artes, al tiempo que saque a la luz importantes momentos históricos en los que la acción de las mujeres fue determinante. 
                </p>
                <p style="text-align: justify;">
                    Los resultados principales del proyecto son:
                </p>
                <p style="text-align: justify; margin-left: 15px;">
                    1.	Investigación y cartografía de las historias locales de las mujeres. Se ha llevado a cabo una investigación documental sobre la huella histórica de las mujeres en diversas ciudades, analizando monumentos y nombres de calles. 
                </p>
                <p style="text-align: justify; margin-left: 15px;">
                    2.	Mapa HerStory. Se ha desarrollado el Mapa HerStory para cada ciudad, destacando la huella de las mujeres. Los mapas locales y el transnacional han estado disponibles en la plataforma en línea y la app móvil, proporcionando información sobre mujeres inspiradoras, momentos históricos y lugares significativos. 
                </p>
                <p style="text-align: justify; margin-left: 15px;">
                    3.	Exploración del Mapa HerStory: Realización de actividades de aprendizaje y formación. Entre las actividades de aprendizaje se han desarrollado distintas gincanas para visibilizar y poner de relieve la huella de las mujeres en la historia local y europea a través de un recorrido lúdico e informativo por la ciudad adecuado para todas las edades. Mediante estas gincanas se ofrece una oportunidad perfecta para explorar la ciudad desde una perspectiva diferente.
                </p>
                <p style="text-align: justify;">
                    Toda la información del proyecto se encuentra disponible en <a href="https://herstoryproject.eu/">https://herstoryproject.eu/</a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>
{% endblock %}