{% extends 'base.html' %}

{% block content %}

{% load static %}
<a href="{% url 'signin' %}">
    <img src="{% static 'media/flecha.png' %}">
</a>

<h1>Informción</h1>
<p>
    Ipsum nulla eu aliqua dolore id excepteur occaecat et Lorem ea proident. 
    Sint eiusmod sunt nisi sit magna eiusmod adipisicing id est. 
    Anim incididunt anim consectetur eu officia sint amet cupidatat nulla quis tempor. 
    Consequat incididunt pariatur cillum aute occaecat laborum nostrud mollit nulla. 
    Tempor non et qui commodo sint veniam nulla irure dolor ad occaecat eu ullamco. 
    Non laborum ex anim culpa. Cillum in veniam labore sunt ex.
</p>
{% endblock %}