{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container">
    <div class="content-box">
        <div class="content">
            <a href="{% url 'signin' %}">
                <img src="{% static 'media/flecha.png' %}">
            </a>

            <h1>Gincana</h1>
            <h2>Información sobre la página web</h2>
            <p>
                Ipsum nulla eu aliqua dolore id excepteur occaecat et Lorem ea proident. 
                Sint eiusmod sunt nisi sit magna eiusmod adipisicing id est. 
                Anim incididunt anim consectetur eu officia sint amet cupidatat nulla quis tempor. 
                Consequat incididunt pariatur cillum aute occaecat laborum nostrud mollit nulla. 
                Tempor non et qui commodo sint veniam nulla irure dolor ad occaecat eu ullamco. 
                Non laborum ex anim culpa. Cillum in veniam labore sunt ex.
            </p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>
{% endblock %}