{% extends 'base3.html' %}

{% block content %}

{% load static %}
<div class="container">
    <div class="content-box">
        <div class="content">
            <div class="container-in">
                <h1>{{gincana.titulo}}</h1>

                <p class="error">{{error}}</p>

                <div id="map" class="map"></div>

                <div class="container-in"><strong>{{pregunta}}</strong></div>

                <div class="container-in">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Respuestas</th>
                                <th>Elige respuesta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for respuesta in respuestas %}
                                <tr>
                                    <td>{{respuesta.respuesta}}</td>
                                    <td>
                                        <form method="POST" action="{% url 'invitado_registrar' gincana.id invitado.usuario parada respuesta.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Responder</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {{ paradas|json_script:"paradas_json" }}

                <script>
                    var screenWidth = window.innerWidth;

                    let paradas = JSON.parse(document.getElementById('paradas_json').textContent);

                    if (paradas.length === 0) {
                        if (screenWidth <= 570) {
                            var map = L.map('map').setView([51.505, -0.09], 12);
                        } else {
                            var map = L.map('map').setView([51.505, -0.09], 13);
                        }
                    }
                    else {
                        var sumaLat = 0;
                        var sumaLng = 0;

                        paradas.forEach(parada => {
                            sumaLat += parada.latitud;
                            sumaLng += parada.longitud;
                        });

                        var latMedia = sumaLat / paradas.length;
                        var lngMedia = sumaLng / paradas.length;

                        if (screenWidth <= 570) {
                            var map = L.map('map').setView([latMedia, lngMedia], 12);
                        } else {
                            var map = L.map('map').setView([latMedia, lngMedia], 13);
                        }
                    }

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    
                    var contador = 0;
                    var anterior_parada;
                    paradas.forEach(parada =>{
                        if (contador === 0) {
                            var marker = L.marker([parada.latitud, parada.longitud]).addTo(map);
                        }
                        else{
                            var marker =  L.marker([parada.latitud, parada.longitud]).addTo(map);
                            let polyline = L.polyline([anterior_parada,[parada.latitud, parada.longitud]]).addTo(map);
                        }
                        var popupContent = '<strong>Parada ' + (contador+1) + ': ' + parada.nombre + '</strong><br>Latitud: ' + parada.latitud + '<br>Longitud: ' + parada.longitud;
                        if (parada.pregunta) {
                            popupContent += '<br><strong>Pregunta:</strong><br>' + parada.pregunta + '<br>';
                            popupContent += '<strong>Respuestas:</strong><br>';
                            parada.respuestas.forEach(respuesta => {
                                popupContent += respuesta.respuesta + '<br>';
                            });
                        } else {
                            popupContent += '<br>No hay pregunta asociada a esta parada.';
                        }
                        marker.bindPopup(popupContent);

                        contador++;
                        anterior_parada=[parada.latitud, parada.longitud];

                    });

                </script>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;"> 
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
    
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_parada(url){
        $('#add').load(url, function (){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}

</body>
</html>