<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
      <h2 class="modal-title">Añadir Paradas</h2>
      <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="map2" class="map"></div>

      <div class="loading-screen" id="loading-screen2" style="flex-direction: column; align-items: center;">
        <div class="loading-spinner"></div>
        <div style="font-weight: bold;">Regenerando mapa, espere por favor.</div>
      </div>

      {{paradas|json_script:"paradas_json"}}

      <script>
        $('#add').on('shown.bs.modal', function () {
          var screenWidth = window.innerWidth;

          if (typeof paradas2 !== 'undefined') {
            let paradas2 = JSON.parse(document.getElementById('paradas_json').textContent);
          } else {
            paradas2 = JSON.parse(document.getElementById('paradas_json').textContent);
          }

          if (paradas2.length === 0) {
            if (screenWidth <= 570) {
                var map = L.map('map2').setView([51.505, -0.09], 12);
            } else {
                var map = L.map('map2').setView([51.505, -0.09], 13);
            }
          }
          else {
              var sumaLat = 0;
              var sumaLng = 0;

              paradas2.forEach(parada => {
                  sumaLat += parada.latitud;
                  sumaLng += parada.longitud;
              });

              var latMedia = sumaLat / paradas.length;
              var lngMedia = sumaLng / paradas.length;

              if (screenWidth <= 570) {
                  var map = L.map('map2').setView([latMedia, lngMedia], 12);
              } else {
                  var map = L.map('map2').setView([latMedia, lngMedia], 13);
              }
          }

          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          map.invalidateSize();

          var contador = 0;
          var anterior_parada;
          paradas2.forEach(parada =>{
            if (contador === 0) {
              var marker = L.marker([parada.latitud, parada.longitud]).addTo(map);
            }
            else{
              var marker =  L.marker([parada.latitud, parada.longitud]).addTo(map);
              let polyline = L.polyline([anterior_parada,[parada.latitud, parada.longitud]]).addTo(map);
            }
            var popupContent = '<strong>Parada ' + (contador+1) + ': ' + parada.nombre + '</strong><br>Latitud: ' + parada.latitud + '<br>Longitud: ' + parada.longitud;
            if (parada.pregunta) {
                popupContent += '<br><strong>Pregunta:</strong><br>' + parada.pregunta + '<br>';
                popupContent += '<strong>Respuestas:</strong><br>';
                parada.respuestas.forEach(respuesta => {
                    popupContent += respuesta.respuesta + ' - Puntos: ' + respuesta.puntos + ' - Correcta: ' + respuesta.es_correcta + '<br>';
                });
            } else {
                popupContent += '<br>No hay pregunta asociada a esta parada.';
            }
            marker.bindPopup(popupContent);
            
            contador++;
            anterior_parada=[parada.latitud, parada.longitud];

          });

          var dict_values = {};
          map.on('click', (event) => {
            L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);
            dict_values[event.latlng.lat]= event.latlng.lng;
            if (contador === 0) {
              anterior_parada=[event.latlng.lat, event.latlng.lng];
              contador++;
            }
            else {
              let polyline = L.polyline([anterior_parada,[event.latlng.lat, event.latlng.lng]]).addTo(map);
              anterior_parada=[event.latlng.lat, event.latlng.lng];
            }
          });

          function mostrarCarga() {
            document.getElementById('loading-screen2').style.display = 'flex';
            enviarSolicitud(); 
          }

          function enviarSolicitud() {
            $.ajax({
              url: "parada/guardar/",
              type: "POST",
              data: {csrfmiddlewaretoken: '{{csrf_token}}', 'parada': JSON.stringify(dict_values)},
              success: function(response) {
                  document.getElementById('loading-screen2').style.display = 'none';
                  window.location.reload();
              }
            });
          }

          $('#guardar').on('click', {}, mostrarCarga);
        });
      </script>

      <div class="modal-footer" style="display: flex; justify-content: center;">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 10px;">
          Cancelar
        </button>
        
        <button type="submit" class="btn btn-success" id="guardar">
          Guardar Paradas
        </button>
      </div>
    </div>
  </div>
</div>