<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
      <h2 class="modal-title">Modal title</h2>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div id="map2" style="height: 600px; width: 700px; margin: 0 auto;"></div>

      {{ paradas|json_script:"paradas_json" }}

      <script>
        $('#add').on('shown.bs.modal', function () {
          var map = L.map('map2').setView([51.505, -0.09], 13);

          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
          map.invalidateSize();

          if (typeof paradas2 !== 'undefined') {
            let paradas2 = JSON.parse(document.getElementById('paradas_json').textContent);
          } else {
            paradas2 = JSON.parse(document.getElementById('paradas_json').textContent);
          }
          
          paradas2.forEach(parada =>{
              L.marker([parada.latitud, parada.longitud]).addTo(map);
          });

          var dict_values = {};
          map.on('click', (event) => {
            L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);
            dict_values[event.latlng.lat]= event.latlng.lng;
          });

          function send_data() {
            $.ajax({
              url:"parada/guardar/",
              type:"POST",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'parada': JSON.stringify(dict_values)},
              success: function(response) {
                window.location.reload();
              }
            });
          }

          $('#guardar').on('click', {}, send_data);
        });

      </script>

    </div>
    <div class="modal-footer" style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 10px;">
        Cancelar
      </button>
      
      <button type="submit" class="btn btn-success" id="guardar" >
        Guardar Paradas
      </button>
    </div>
  </div>
</div>