{% extends 'base3.html' %}

{% block content %}

{% load static %}
<div class="container">
    <div class="content-box">
        <div class="content">
            <div>
                <h1>Gincana</h1>
            </div>
            <div>
                <h2>Cambiar Contraseña</h2>
            </div>

            <p style="color: red; font-weight: bold;">{{error}}</p>

            <form method="POST">
                {% csrf_token%}
                {{form.as_p}}
                <button class="btn-signin">
                    Siguiente
                </button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}   