{% extends 'base.html' %}

{% block content %}

    <h1>{{profesor.email}}</h1>
    <p>{{profesor.nombre}}</p>
    <p>{{profesor.apellidos}}</p>
    <p>{{profesor.fecha_nacimiento}}</p>
    <p>{{profesor.genero}}</p>
    <p>{{profesor.pais}}</p>
    <p>{{profesor.ciudad}}</p>
    <p>{{profesor.organizacion}}</p>
 
    <form method="POST">
        {% csrf_token %}
        <button>
            Editar
        </button>
    </form>

    <form action="{% url 'verificacion_password2' profesor.email %}" method="POST">
        {% csrf_token %}
        <button>
            Cambiar Contraseña
        </button>
    </form>

    <form action="{% url 'profesor_eliminar' profesor.email %}" method="POST">
        {% csrf_token %}
        <button>
            Eliminar
        </button>
    </form>

{% endblock %}