{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container-in">
    <img width="50" height="50" class="profile-pic rounded-circle" style="background-color: #9E9E9E;border: 2px solid #3C8067; padding: 1px;" src="{{profesor.imagen.url}}" >
    <span style="margin-right: 10px;"></span>
    <h1 class="titulo">{{profesor.email}}</h1>

    <div class="container-in">
        <p>{{profesor.nombre}}</p>
        <p>{{profesor.apellidos}}</p>
        <p>{{profesor.fecha_nacimiento}}</p>
        <p>{{profesor.genero}}</p>
        <p>{{profesor.pais}}</p>
        <p>{{profesor.ciudad}}</p>
        <p>{{profesor.organizacion}}</p>
    </div>
    
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="input-registro">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn-signin">
                Editar
            </button>
        </form>
        <span style="margin-right: 10px;"></span>
        <form action="{% url 'verificacion_password2' profesor.email %}" method="POST">
            {% csrf_token %}
            <button class="btn-pass">
                Cambiar Contraseña
            </button>
        </form>
        <span style="margin-right: 10px;"></span>
        <button class="btn-signin" style="margin-left: 0px; margin-right: 0px;" onclick="abrir_modal_confirmacion_cuenta('{% url 'profesor_confirmacion_cuenta' profesor.email %}')" data-toggle="modal" data-target="#confirmacion_cuenta">
            Eliminar
        </button>
    </div>
</div>

<div class="modal fade" id="confirmacion_cuenta" role="dialog"></div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
    
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_confirmacion_cuenta(url){
        $('#confirmacion_cuenta').load(url, function (){
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}