{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1><img class="profile-pic" src="{{ profesor.imagen.url }}" ></h1>
<h1>{{profesor.email}}</h1>
<p>{{profesor.nombre}}</p>
<p>{{profesor.apellidos}}</p>
<p>{{profesor.fecha_nacimiento}}</p>
<p>{{profesor.genero}}</p>
<p>{{profesor.pais}}</p>
<p>{{profesor.ciudad}}</p>
<p>{{profesor.organizacion}}</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button class="btn-signin">
        Editar
    </button>
</form>

<form action="{% url 'verificacion_password2' profesor.email %}" method="POST">
    {% csrf_token %}
    <button class="btn-pass">
        Cambiar Contraseña
    </button>
</form>

<form action="{% url 'profesor_eliminar' profesor.email %}" method="POST">
    {% csrf_token %}
    <button class="btn-signin">
        Eliminar
    </button>
</form>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}