<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="modal-title">Total</h2>
            <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-in">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuarios</th>
                            <th>Edición</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if invitados_puntuaciones %}
                            {% for id, invitado, puntuacion, edicion in invitados_puntuaciones %}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{invitado.usuario}}</td>
                                    <td>{{edicion}}</td>
                                    <td>{{puntuacion}}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">Todavía no se ha realizado ninguna gincana.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer" style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 10px;">
                Cancelar
            </button>
            <form action="{% url 'puntuacion_informe' gincana.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" id="descargar">
                    Descargar Informe Completo
                </button>
            </form>
        </div>
    </div>
</div>