<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="modal-title">{{edicion}}</h2>
            <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-in">
                <h1>Puntuaciones</h1>
            
                <table class="table">
                    <thead>
                        <tr>
                            <th>Usuarios</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invitado, puntuacion in invitados_puntuaciones %}
                            <tr>
                                <td>{{ invitado.usuario }}</td>
                                <td>{{ puntuacion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer" style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 10px;">
                Cancelar
            </button>
            
            <button type="submit" class="btn btn-success" id="descargar">
                Descargar Informe
            </button>
          </div>
    </div>
</div>