{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container-in">
    <h1>Mis Gincanas</h1>
    <ul class="row">
        {% for mi_gincana in mis_gincanas %}
            {% if forloop.counter0 < 3 %}
                <div class="col">
                    <a href="{% url 'gincana' mi_gincana.id %}" class="gincana">
                        <div class="gincana-img">
                            {% if darkModeEnabled == 'true' %}
                                <img src="{{mi_gincana.imagen_oscura.url}}" alt="{{mi_gincana.titulo}}" class="img-gincana">
                            {% elif darkModeEnabled == 'false' %}
                                <img src="{{mi_gincana.imagen.url}}" alt="{{mi_gincana.titulo}}" class="img-gincana">
                            {% endif %}
                        </div>
                        <div class="gincana-titulo">
                            {% if mi_gincana.visibilidad and mi_gincana.email_profesor in profesores %}
                                <strong>{{mi_gincana.titulo}} <i class="fs-8 bi-globe-europe-africa"></i> <i class="fs-8 bi-map-fill"></i></strong>
                            {% elif mi_gincana.visibilidad %}
                                <strong>{{mi_gincana.titulo}} <i class="fs-8 bi-globe-europe-africa"></i></strong>
                            {% else %}
                                {{mi_gincana.titulo}}
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col">
            <a href="{% url 'crear_gincana' %}" class="gincana">
                <div class="gincana-img">
                    {% if darkModeEnabled == 'true' %}
                        <img src="{% static 'media/crear_oscuro.png' %}" alt="Crear Gincana" class="img-gincana">
                    {% elif darkModeEnabled == 'false' %}
                        <img src="{% static 'media/crear.png' %}" alt="Crear Gincana" class="img-gincana">
                    {% endif %} 
                </div>
                <div class="gincana-titulo">
                    <strong>Crear Gincana</strong>
                </div>
            </a>
        </div>
    </ul>

    <h1>Gincanas Públicas</h1>
    <ul class="row">
        {% for gincana_publica in gincanas_publicas %}
            {% if forloop.counter0 < 12 %}
                {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                    </ul><ul class="row">
                {% endif %}
                <div class="col">
                    <a href="{% url 'gincana_publica' gincana_publica.id %}" class="gincana">
                        <div class="gincana-img">
                            {% if darkModeEnabled == 'true' %}
                                <img src="{{gincana_publica.imagen_oscura.url}}" alt="{{gincana_publica.titulo}}" class="img-gincana">
                            {% elif darkModeEnabled == 'false' %}
                                <img src="{{gincana_publica.imagen.url}}" alt="{{gincana_publica.titulo}}" class="img-gincana">
                            {% endif %} 
                        </div>
                        <div class="gincana-titulo">
                            {% if gincana_publica.visibilidad and gincana_publica.email_profesor in profesores %}
                                <strong>{{gincana_publica.titulo}} <i class="fs-8 bi-globe-europe-africa"></i> <i class="fs-8 bi-map-fill"></i></strong>
                            {% elif gincana_publica.visibilidad %}
                                <strong>{{gincana_publica.titulo}} <i class="fs-8 bi-globe-europe-africa"></i></strong>
                            {% else %}
                                {{gincana_publica.titulo}}
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    
        {% if gincanas_publicas|length > 12 %}
            {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                </ul><ul class="row">
            {% endif %}
            <div class="col">
                <a href="{% url 'gincanas_publicas' %}" class="gincana">
                    <div class="gincana-img">
                        {% if darkModeEnabled == 'true' %}
                            <img src="{% static 'media/publico_oscuro.png' %}" alt="Gincana Publica" class="img-gincana">
                        {% elif darkModeEnabled == 'false' %}
                            <img src="{% static 'media/publico.png' %}" alt="Gincana Publica" class="img-gincana">
                        {% endif %} 
                    </div>
                    <div class="gincana-titulo">
                        <strong>Gincanas Públicas</strong>
                    </div>
                </a>
            </div>
        {% else %}
            {% if gincanas_publicas|length|divisibleby:4 and not forloop.first %}
                </ul><ul class="row">
            {% endif %}
            <div class="col">
                <a href="{% url 'gincanas_publicas' %}" class="gincana">
                    <div class="gincana-img">
                        {% if darkModeEnabled == 'true' %}
                            <img src="{% static 'media/publico_oscuro.png' %}" alt="Gincana Publica" class="img-gincana">
                        {% elif darkModeEnabled == 'false' %}
                            <img src="{% static 'media/publico.png' %}" alt="Gincana Publica" class="img-gincana">
                        {% endif %} 
                    </div>
                    <div class="gincana-titulo">
                        <strong>Gincanas Públicas</strong>
                    </div>
                </a>
            </div>
        {% endif %}
    </ul>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}