{% extends 'base3.html' %}

{% block content %}

{% load static %}

<div class="container">
    <img class="logo" src="{% static 'media/Logo.png' %}" alt="Logo">
</div>
<div class="container">
    <div class="content-box">
        <div class="content">
            <h2>Seleccione su rol</h2>
            <div class="input-registro">
                <button class="btn-signin" style="margin-top: 10px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;" onclick="window.location.href='{% url 'signin' %}';">
                    Profesor
                </button>
                <span style="margin-right: 10px;"></span>
                <button class="btn-signin" style="margin-top: 10px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;" onclick="window.location.href='{% url 'signin_invitado' %}';">
                    Invitado
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}