{% extends 'base.html' %}

{% block content %}

{% load static %}
<img src="{% static 'media/Logo.png' %}">

{{error}}

<form action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <p>
        <a href="{% url 'password' %}">He olvidado mi contraseña</a>
        <a href="{% url 'signup' %}">Crear una cuenta</a>
        <a href="{% url 'informacion' %}">
            <img src="{% static 'media/info.png' %}">
        </a>
    </p>
    <button>
        Iniciar Sesión
    </button>
    <!--
    <p>
        <img src="{% static 'media/LogoEU.png' %}">
        Corem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam eu turpis molestie, dictum est a, mattis tellus. 
        Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
    </p>
    -->
</form>

{% endblock %}