{% extends 'base3.html' %}

{% block content %}

{% load static %}
<a href="{% url 'selector' %}" class="flecha">
    <img src="{% static 'media/flecha.png' %}">
</a>
<div class="container">
    <img class="logo" src="{% static 'media/Logo.png' %}" alt="Logo">
</div>
<div class="container">
    <div class="content-box">
        <div class="content">
            <h2>Iniciar Sesión</h2>
            <p class="error">{{error}}</p>
            <form action="{% url 'signin' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="link-container">
                    <a href="{% url 'password' %}" class="left-link">He olvidado mi contraseña</a>
                    <a href="{% url 'signup' %}" class="right-link">Crear una cuenta</a>
                    <a href="{% url 'informacion' %}">
                        <i style="color:green" class="fs-4 bi-info-circle" ></i>
                    </a>
                </div>
                <button class="btn-signin">
                    Iniciar Sesión
                </button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or DG Justice and Consumers. Neither the European Union nor the granting authority can be held responsible for them.
            </p>
        </div>
    </div>
</div>

{% endblock %}