{% extends 'base3.html' %}

{% block content %}

{% load static %}
<a href="{% url 'signin' %}">
    <img src="{% static 'media/flecha.png' %}">
</a>
<div class="container">
    <div class="content-box">
        <div class="content">
            <div>
                <h1>Gincana</h1>
            </div>
            <div>
                <h2>Registro</h2>
            </div>

            <p class="error">{{error}}</p>

            <form method="POST">
                {% csrf_token%}
                {{form.email}}
                <div class="input-registro">
                    {{form.nombre}}
                    <span style="margin-right: 10px;"></span> 
                    {{form.apellidos}}
                </div>
                <div class="input-registro">
                    {{form.fecha_nacimiento}}
                    <span style="margin-right: 10px;"></span> 
                    {{form.genero}}
                </div>
                <div class="input-registro">
                    {{form.pais}}
                    <span style="margin-right: 10px;"></span> 
                    {{form.ciudad}}
                </div>
                {{form.organizacion}}
                <div>
                    <p>
                        La contraseña tiene que tener un tamaño mínimo de 8 caractéres, 1 mayúscula, 1 número y 1 carácter especial:
                    </p>
                </div>
                {{form.password1}}
                {{form.password2}}
                <button class="btn-signin">
                    Siguiente
                </button>
            </form> 
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                HerStory es un proyecto financiado por el Programa Ciudadanos, Igualdad, Derechos y Valores (CERV) de la Unión Europea (Ref. 101087984). El apoyo de la Comisión Europea a la producción de esta herramienta no constituye una aprobación de su contenido, que refleja únicamente las opiniones de los autores, y la Comisión no se hace responsable del uso que pueda hacerse de la información contenida en ella.            </p>
        </div>
    </div>
</div>

{% endblock %}   