{% extends 'base2.html' %}

{% block content %}

{% load static %}

<div class="container-in">
    <div>
        <h1>Usuarios Invitados</h1>
    </div>
    <p style="color: red; font-weight: bold;">{{error}}</p>
    <div>
        <h2>Administrar Usuarios Invitados: {{total}}</h2>
        {% for edicion, invitados in invitados_ordenados.items %}
            <div>
                <h3>Edición: {{edicion}} ({{invitados|length}})</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>QR Code</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invitado in invitados %}
                        <tr>
                            <td>
                                <img src="{{invitado.qr_code.url}}" width="100" height="100">
                            </td>
                            <td>{{ invitado.usuario }}</td>
                            <td>
                                <form method="post" action="{% url 'borrar_usuarios_invitados' gincana.id invitado.usuario %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Borrar</button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No hay invitados en esta edición.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div>
        <h2>Crear Usuarios Invitados</h2>
        <form method="post" action="{% url 'crear_usuarios_invitados' gincana.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-signin">Crear Invitados</button>
          </form>
    </div>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p>
                Corem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam eu turpis molestie, dictum est a, mattis tellus. 
                Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. 
            </p>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>