{% extends 'base2.html' %}

{% block content %}

{% load static %}

<div class="container-in">
    {% if darkModeEnabled == 'true' %}
        <a href="{% url 'gincana' gincana.id %}" class="flecha">
            <img src="{% static 'media/flecha_oscura.png' %}">
        </a>
    {% elif darkModeEnabled == 'false' %}
        <a href="{% url 'gincana' gincana.id %}" class="flecha">
            <img src="{% static 'media/flecha.png' %}">
        </a>
    {% endif %} 
    
    <div>
        <h1>Usuarios Invitados</h1>
    </div>
    <p class="error">{{error}}</p>
    {% if botonError == "faltan_preguntas" %}
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="{% url 'editar_gincana' gincana.id %}" class="btn btn-danger">Configurar Preguntas y Respuestas</a>
        </div>
    {% elif botonError == "falta_duracion" %}
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="{% url 'configuracion_gincana' gincana.id %}" class="btn btn-danger">Configurar Duración</a>
        </div>
    {% endif %}

    <div class="container-in">
        <h2>Administrar Usuarios Invitados: {{total}}</h2>

        <div>
            <p style="display: flex; font-weight: bold; justify-content: center; align-items: center;">
                Cree tantos usuarios Invitados como participantes. Después distribuya los códigos QRs o los usuarios para que participen.
            </p>
        </div>

        <div class="container-in">
            <h2>Crear Usuarios Invitados</h2>
            <form action="{% url 'crear_usuarios_invitados' gincana.id %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-signin">Crear Invitados</button>
              </form>
        </div>
        <div class="container-in">
            {% for edicion, invitados in invitados_ordenados.items %}
                <div>
                    <h3>Edición: {{edicion}} ({{invitados|length}})</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>QR Code</th>
                            <th>Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invitado in invitados %}
                            <tr>
                                <td>{{invitado.id}}</td>
                                <td>
                                    <img src="{{invitado.qr_code.url}}" width="100" height="100">
                                </td>
                                <td>{{invitado.usuario}}</td>
                                <td>
                                    <form method="post" action="{% url 'borrar_usuarios_invitados' gincana.id invitado.usuario %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Borrar</button>
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No hay invitados en esta edición.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if edicion == 'Nuevos' %}
                    <div class="modal-footer" style="display: flex; justify-content: center;">
                        <form action="{% url 'documento_qrs' gincana.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn-pass" id="descargar">
                                Descargar Documento QRs
                            </button>
                        </form>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-group">
        <div class="footer-box">
            {% if darkModeEnabled == 'true' %}
                <img class="img" src="{% static 'media/LogoEUN.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% elif darkModeEnabled == 'false' %}
                <img class="img" src="{% static 'media/LogoEU.png' %}" alt="Union Europea" width="max-width:100%;height:auton;">
            {% endif %}  
        </div>
        <div class="footer-box">
            <p style="text-align: justify;">
                Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or DG Justice and Consumers. Neither the European Union nor the granting authority can be held responsible for them. 
            </p>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>